.ovde {
    border-bottom: 1px orangered solid;
}

.nav-link:hover {
    border-bottom: 1px white solid;
}

.site-background{
    background-color: orangered;
    opacity:0.5;
}
.nav-item{
    text-decoration-color:royalblue;
}
