
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Почитувани немате пристап да ја извршете соодветната акција.</title>
</head>
<body>
    <div>
        Почитувани немате пристап да ја извршете соодветната акција.
    </div>
     Со почит.
</body>
</html>
