@{
    ViewBag.Title = "За нас";
}
<h2>За нас</h2>


<div class="container" style="width:60%;font-family:Arial, Helvetica, sans-serif">
    <div style="font-weight:bold;color:royalblue">
        Мисија
    </div>
    <div>
        Нашата мисија е преку постојано унапредување и надоградување на нашата платформа, нудење извонредна поддршка, едукација и насока, и
        градење на силна заедница,
        да бидеме број еден партнер на македонските работобаратели и работодавачи во правењето на најдобрите одлуки за вработување, да овозможиме
        секоја заинтересирана индивидуа да го пласира својот производ и за кратко време да биде забележан од пошироката јавност, како и секој
        да може да купи нешто кое го има објавено на нашиот сајт.

    </div>
    <br />
    <br />
    <div style="font-weight:bold;color:royalblue">
        Визија
    </div>
    <div>
        Ние се залагаме за соработката со се поголем број брендови кои што веруваат дека наоѓањето на квалитетен кадар и вложувањето
        во него е клучно за долгорочниот успех на бизнисот. Како и било кои останати луѓе кои имаат желба за купи-продажба да им овозможиме со едноставни чекори
        да стигнат до она што го посакуваат.
    </div>
    <div>
        Од друга страна, продирањето до пазарот на индивидуалци со огромен потенцијал за
        напредок во разни области и функционирањето
        како нивни патоказ кон успешна кариера, е нашата најголема мотивација.
    </div>
    <br />
    <br />
    <div style="font-weight:bold;color:royalblue">
        Ние сме Вашиот партнер за градење успешна приказна и компаниска култура каде што ќе се негува взаемна почит и обострано вложување.
    </div>
</div>

