@{
    ViewBag.Title = "Contact";
}
<h2>Контакт</h2>
<div class="container pt-5 pb-5 pl-5 pr-5 site-background">
    <address>
        Скопје<br />
        Диме Анцин, 13<br />
        <abbr title="Телефонски врој">Телефонски број:</abbr>
        (+389)77111222
    </address>

    <address>
        <strong>Подршка:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Маркетинг:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>

<div class="container">

</div>
